* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #00b4d8; */
    
}
                                              /* NAVBAR*/
a {
    text-decoration: none;
    color: gray;
}
a:hover{
    transform: translateY(-5px);
}
li {
    list-style: none;
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
}
.logo {
    width: 10%;
    margin-left: 5%;
}
.nav-links a {
    color: #00b4d8;
    padding: 15px;
    transition: transform 0.5s;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 15px;
    padding: 15px;
}
.navlink {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    text-decoration: none;
    transition: color .1s linear;
}
.navlink:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #002F81;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    

    transition: opacity .1s linear;
}

.navlink:hover {
    color: #002F81;
}

.navlink:hover:after{
    opacity: 1;
}
                                            /*NAVBAR ENDS*/

                                            /*PAGE 1*/
.page{
    text-align: center;
    background-color: #00b4d8;
    height: 86vh;
}
.world{
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 80px;
    color: white;
}
.welcome{
    font-size: 900%;
    color: white;
    font-weight: 900;
}
.hr{
    color: white;
    width: 7%;
    margin-left: 46.7%;
    margin-top: 2%;
    border: 2px white solid;
    background-color: white;
}
.learn {
    display: inline-block;
    width: 200px;
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
    
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: transform 0.5s;
  }
.learn:hover,
.learn:active {
  background-color: #fff;
  color: #00b4d8;
  cursor: pointer;
  transform: translateY(-5px);
}
                                            /*PAGE1 ENDS*/

                                            /*PAGE2*/
.page2{
    display: flex;
    
}
.page2 .text{
    color: #00b4d8;
    margin-left: 15%;
    margin-top: 4%;
    font-size: 40px;
}
.page2 img{
    margin-bottom: 0px;
    width: 50%;
    margin-left: 25%;
}
.bestteach{
    color: #0077b6 ;
}
                                             /*PAGE2 ENDS*/
.btn{
    padding:.7rem 3rem;
    font-size: 1rem;
    background-color: #0077b6;
    color:#eee;
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;
    transition:background 1s;
    transition: transform 0.5s;
    border: none;
}
                                            /*PAGE3*/
.page3{
    background-color: #0077b6;
}
.features{
    display: flex;
    justify-content: space-evenly;
    color: #eee;
}
.features_item{
    text-align: center;
    margin-top: 50px;
    width: 250px;
    margin-bottom: 50px;
}
.features_icon{
    width: 60px;
    height: 60px;
}
                                              /*PAGE3 ENDS*/

                                              /*WHY*/
.bill{
    background-color: white;
}
.bill .contain{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bill img{
    height: 60vh;
}
.bill .contain h2{
    font-size: 2rem;
}
.bill .contain .row_text{
    width: 40%;
    color: #0077b6;
}





                                              /*WHY ENDS*/

                                              /*CONTACT US*/
.contact{
    background-color: #00b4d8;

}
.contact .heading{
    background-color: #00b4d8;
    text-align: center;
    color: #eee;
    font-size: 2.5rem;
}
.contact .row{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row form{
    flex:1 1 10rem;
    margin-left: 5%;
    margin-right: 3%;
    background: #eee;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    align-items: flex-start;
    border-radius: 10px;
}
.contact .row form .box{
    height: 5rem;
    width: 49%;
    border: 0.1rem solid grey;
    padding:0 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    color: black;
    background: none;
    text-transform: none;
    border-radius: 5px;
}
.contact .row form .box:focus{
    border-color: #0077b6;
    border: 0.1rem solid #0077b6;
}
.contact .row form .box::placeholder{
    text-transform: capitalize;
}
.contact .row form .address{
    height: 10rem;
    padding: 1rem;
    resize: none;
    width: 100%;
    background: none;
}
.contact .row form .btn{
    margin-left: 40%;
}
.contact .row form .btn:hover{
    background-color: #002F81;
    color: white;
    transform: translateY(-5px);
}
.contact .row .image img{
    height: 80vh;
    margin-top: 2rem;
}
                                            /*CONTACT US ENDS*/

                                            /*FOOTER*/
.footer{
    background: black;
    color: #8a8a8a;
    font-size: 15px;
    padding: 60px;
    justify-content: center;
}
.footerrow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
    margin-left: 10px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color:#fff;

}
.footercol1, .footercol2, .footercol3, .footercol4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footercol1{
    flex-basis: 30%;
}
.footercol2{
    flex: 1;
    text-align: center;
}
.footercol2 img{
    margin-bottom: 20px;
}
.footercol3, .footercol4{
    flex-basis: 12%;
    text-align: center;
}
                                              /*FOOTER ENDS*/
.blank{
    height: 25px;
}